In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/worldwide-coffee-habits-dataset/worldwide_coffee_habits.csv

In [2]:
data = pd.read_csv('/kaggle/input/worldwide-coffee-habits-dataset/worldwide_coffee_habits.csv')
data.head()

,Country,Year,Coffee Consumption (kg per capita per year),Average Coffee Price (USD per kg),Type of Coffee Consumed,Population (millions)
0,Country_39,2023,9.253939,6.467453,Americano,65.929478
1,Country_29,2011,9.981203,4.346744,Mocha,82.456680
2,Country_15,2020,3.312916,8.767496,Latte,110.938862
3,Country_43,2005,2.436180,11.748750,Espresso,43.137207
4,Country_8,2019,4.637849,8.999099,Mocha,65.484262

In [3]:
square = lambda x: x**2     # where x is name of argument
print(square(5))
tot = lambda x,y,z: x+y+z   # where x,y,z are names of arguments
print(tot(1,6,3))

25
10

In [4]:
number_list = [3,5,7]
y = map(lambda x:x**3,number_list)
print(list(y))

[27, 125, 343]

In [5]:
list1 = [1,4,3,6]
list2 = [9,6,8,8]
z = zip(list1,list2)
print(z)
z_list = list(z)
print(z_list)

<zip object at 0x7b1f9bdf8ac0>
[(1, 9), (4, 6), (3, 8), (6, 8)]

zip metodu iki listeyi birleştiriyor aslında

In [6]:
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip) # unzip returns tuple
print(un_list1)
print(un_list2)
print(type(un_list2))

(1, 4, 3, 6)
(9, 6, 8, 8)
<class 'tuple'>

unzip objeye çevirir sonra yine list yaparız

In [7]:
num1 = [1,2,3]
num2 = [i + 1 for i in num1 ]
print(num2)

[2, 3, 4]

num1 i döngüye sok herseferinde bir artırarak num2 ye yaz

In [8]:
num1 = [5,10,15]
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]
print(num2)

[0, 100, 20]

eğer 10 ise num1 deki her değerin karesi i<7 ise i-5 yap her değer için ve değilse döngüde her değere 5 ekle

In [9]:
threshold = sum(data.Year)/len(data.Year)
data["Year_level"] = ["high" if i > threshold else "low" for i in data.Year]
data.loc[:5,["Year_level","Year"]]

  Year_level  Year
0       high  2023
1        low  2011
2       high  2020
3        low  2005
4       high  2019
5        low  2004

In [10]:
data.describe()

,Year,Coffee Consumption (kg per capita per year),Average Coffee Price (USD per kg),Population (millions)
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,2011.666900,6.061865,9.461891,75.167120
std,6.911695,2.313427,3.151403,43.023176
min,2000.000000,2.000385,4.000742,1.002494
25%,2006.000000,4.070743,6.728261,37.465847
50%,2012.000000,6.094491,9.458371,75.021943
75%,2018.000000,8.061127,12.136285,112.595868
max,2023.000000,9.999399,14.997053,149.995850

In [11]:
data_new = data.head()    # I only take 5 rows into new data
data_new

,Country,Year,Coffee Consumption (kg per capita per year),Average Coffee Price (USD per kg),Type of Coffee Consumed,Population (millions),Year_level
0,Country_39,2023,9.253939,6.467453,Americano,65.929478,high
1,Country_29,2011,9.981203,4.346744,Mocha,82.456680,low
2,Country_15,2020,3.312916,8.767496,Latte,110.938862,high
3,Country_43,2005,2.436180,11.748750,Espresso,43.137207,low
4,Country_8,2019,4.637849,8.999099,Mocha,65.484262,high

In [12]:
melted = pd.melt(frame=data_new,id_vars = 'Country', value_vars= ['Year','Year_level'])
melted

      Country    variable value
0  Country_39        Year  2023
1  Country_29        Year  2011
2  Country_15        Year  2020
3  Country_43        Year  2005
4   Country_8        Year  2019
5  Country_39  Year_level  high
6  Country_29  Year_level   low
7  Country_15  Year_level  high
8  Country_43  Year_level   low
9   Country_8  Year_level  high

yeni bir data tablosu oluşuturyoruz üzerinde melt yapılması için

In [13]:
melted.pivot(index = 'Country', columns = 'variable',values='value')

variable    Year Year_level
Country
Country_15  2020       high
Country_29  2011        low
Country_39  2023       high
Country_43  2005        low
Country_8   2019       high

burada eski haline geldi

In [14]:
data1 = data.head()
data2= data.tail()
conc_data_row = pd.concat([data1,data2],axis =0,ignore_index =True) # axis = 0 : adds dataframes in row
conc_data_row

,Country,Year,Coffee Consumption (kg per capita per year),Average Coffee Price (USD per kg),Type of Coffee Consumed,Population (millions),Year_level
0,Country_39,2023,9.253939,6.467453,Americano,65.929478,high
1,Country_29,2011,9.981203,4.346744,Mocha,82.456680,low
2,Country_15,2020,3.312916,8.767496,Latte,110.938862,high
3,Country_43,2005,2.436180,11.748750,Espresso,43.137207,low
4,Country_8,2019,4.637849,8.999099,Mocha,65.484262,high
5,Country_26,2013,6.107139,11.553694,Mocha,95.808370,high
6,Country_22,2013,7.848531,14.844245,Americano,121.098306,high
7,Country_31,2019,2.152059,5.516845,Americano,97.327529,high
8,Country_43,2012,5.715941,4.641472,Cappuccino,33.916437,high
9,Country_10,2002,9.210541,7.022841,Americano,43.327649,low

head ve taili birleştirdi axis=0 aşarı doğru

In [15]:
data1 = data['Year'].head()
data2= data['Year_level'].head()
conc_data_col = pd.concat([data1,data2],axis =1) # axis = 1 : adds dataframes in column
conc_data_col

   Year Year_level
0  2023       high
1  2011        low
2  2020       high
3  2005        low
4  2019       high

year ve year_level ilk beş birleştir getir

In [16]:
data["Year"].value_counts(dropna =False)

Year
2014    455
2015    447
2019    434
2020    433
2016    433
2012    431
2021    431
2018    429
2000    428
2017    422
2009    422
2023    419
2003    418
2022    417
2006    417
2008    415
2011    415
2013    404
2007    400
2005    400
2004    396
2002    390
2001    385
2010    359
Name: count, dtype: int64

In [17]:
assert  data['Year'].notnull().all()

assert test etmedir döndürmemesi doğruluk sebebi

value_counts() kaç tane var hesapla nullarıda göster drop